.page {
  min-height: 100vh;
  margin-right: 0px;
  margin: 0%;
  padding: 0%;
  background-color: gray  ;
}

.width100 {
  width: 100%;
}

.navbar {
  background-color: transparent;
  z-index: 10;
}

.below-nav {
  position: sticky;
  z-index: 10;
}


.main-content{
  padding-left: 100px;
  padding-top: 50px;
}
