.page {
  min-height: 100vh;
  margin-right: 0px;
}

.width100 {
  width: 100%;
}

.width96 {
  width: 96%;
}

.navbar {
  background-color: transparent;
}

.below-nav {
  padding-top: 5rem;
  position:relative;
}
